@model IEnumerable<Data.Model.Product>

@{
    ViewData["Title"] = "DetailIndex";
    Layout = "~/Views/Customer/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-5">
                <img src="@item.Image" width="360px" height="450px" class="combo-image card-img-top" />
            </div>
            <div class="col-7">
                <h2 class="card-title">@item.NameProduct</h2>
                <p class="card-text" style="color:coral">
                    @item.Price VND
                    <a asp-controller="OrderDetail" asp-action="AddtoCart" asp-route-id="@item.Id" class="btn btn-primary float-right">
                        <i class="bi bi-cart-plus"></i>
                    </a>
                </p>
            </div>
        }
    </div>
</div>

