<style>
    .welcome{
        color:chocolate;

    }
</style>
<div class="container mt-5"> 
    <h3 class="welcome">Chào mừng bạn đến với Cửa hàng Thời trang Nam Nữ EMILY!</h3>
    <p>Tại đây, chúng tôi hiểu rằng thời trang không chỉ là về quần áo mà còn là cách để bạn có thể hiện cá tính và phong cách riêng. Với tiêu chí cập nhật những xu hướng mới nhất cùng khả năng lọc kỹ năng cao hơn, chúng tôi mang đến nhiều loại sản phẩm từ quần áo thường ngày, trang phục công sở của các bộ cánh dự tiệc, phù hợp với mọi tuổi và phong cách.</p>
    <p>Dù bạn đang tìm kiếm một chiếc đầm đầm thanh lịch, áo phông năng động, hay bộ sưu tập vest, chúng tôi đều có những lựa chọn phong phú để đáp ứng nhu cầu của bạn. Đặc biệt, chúng tôi cam kết về chất lượng từng sản phẩm với giá cả hợp lý, cùng các chương trình khuyến mãi hấp dẫn, giúp bạn dễ dàng sở hữu những món đồ yêu thích mà không cần lo lắng về ngân sách.</p>
    <div>
        <p>Tại sao chọn chúng tôi?</p>
        <p>
            <strong>Đa dạng không giới hạn:</strong> Khám phá một loạt các sản phẩm thời trang từ các thương hiệu hàng đầu.<br />
            <strong>Ưu đãi độc quyền:</strong> Thường thức những ưu đãi và khuyến mãi đặc biệt dành cho cộng đồng của chúng tôi.<br />
            <strong>Đánh giá của chuyên gia:</strong> Đưa ra quyết định thông minh với những đánh giá sản phẩm và hướng dẫn phong cách chỉ tiết của chúng tôi.<br />
            <strong>Mua sắm an toàn:</strong> Mua sắm với sự tự tin khi biết rằng quyền riêng tư và bảo mật của bạn là ưu tiên hàng đầu của chúng tôi
        </p>
    </div>
    <p>Hãy khám phá ngay và tạo ra phong cách riêng cho mình với những bộ trang phục đầy cá tính và phong cách từ chúng tôi! Chúng tôi luôn sẵn sàng hỗ trợ và mang đến cho bạn trải nghiệm mua sắm tốt nhất.</p>
    <p>Cảm ơn bạn đã chọn Molla. Hành trình của bạn vào thế giới thời trang bắt đầu từ đây!</p>
</div>